
.nav-bg{
    background-color:#e9f4fa;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);

}

.idea-card{
    background: rgba(255, 255, 255, 0.50);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
@font-face {
    font-family: bold-font;
    src: url(Poppins-Bold.ttf);
}
@font-face {
    font-family: regular-font;
    src: url(Poppins-Regular.ttf);
}
@font-face {
    font-family: semi-bold-font;
    src: url(Poppins-SemiBold.ttf);
}
p{
    font-family: regular-font;
    color:#031015;
}
h1,h3,h2{
    font-family: semi-bold-font;
    color:#0f3948;
}
a{
    color:#031015;
    text-decoration: none;
}
.main-bg{
background: rgb(41,161,205);
background: linear-gradient(90deg, rgba(41,161,205,1) 29%, rgba(168,216,235,1) 61%, rgba(233,244,250,1) 100%);
}

.modal-image{
    width: 60%;
}

.idea-card button {
    border: 0px;
    background-color: transparent;
    display: block;
}

.idea-card button:hover {
    border: 0px;
    background-color: transparent;
    display: block;
    color:azure;
}

.idea-card button.active {
    background-color: #007bff; /* Change background color to blue */
    color: #fff; /* Change text color to white */
    border-color: #007bff; /* Change border color to blue */
}

.accordion-item, .accordion-header, .accordion-body{
    background: rgba(255, 255, 255, 0.50)!important;
    border-radius: 5px!important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25)!important;
    backdrop-filter: blur(5px)!important;
    -webkit-backdrop-filter: blur(5px)!important;
    border: 1px solid rgba(255, 255, 255, 0.3)!important;
}

.accordion-item{
    margin-bottom: 20px;
}

.collapse button {
    border: 0px;
    background-color: transparent;
    display: block;
}

.collapsing button {
    border: 0px;
    background-color: transparent;
    display: block;
}

#collapseDone , #collapseConfirmed, #collapseDoing {
    padding:10px;
}



.collapse button.mobile-active {
    background-color: #007bff; /* Change background color to blue */
    color: #fff!important; /* Change text color to white */
    border-color: #007bff; /* Change border color to blue */
}


.vh-mobile{
    height:16vw;
    width: auto;
    }


    @media (max-width: 992px) {


        .vh-mobile{
            height:50vw;
            width: auto;
            }
    }






