BODY{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-image: url('bg.jpg');
}


.box{
    color:white;
    border-radius: 10px;
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 1);
    transform: translate(0, 50%);
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
}

.bg-glass{
    color:white;
    border-radius: 10px;
    margin:10px;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 1);
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(0, 80%);
    padding: 0px 0px 5px 20px;

}

.box-info{

}

.box-bg{
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
display:flex;
justify-content: center;
flex-direction: column;
}

.box-home{
    color:aliceblue;
    border: solid 1px aliceblue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    padding:25px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 35px 5px #000000;
    background-color: black;
    position: absolute;
    top: 10%;
    right:10%;
    
}




.stats-home{
    display: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    margin:15px;
}

.stats{
    display: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 25px;
    text-align: center;
}

.stats-big{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 25px;
    margin:5px;
    text-align: center;
    text-decoration: underline;
}

.icon{
    width:45px;
}
.icon-home{
    display: none;
    width:45px;
}
.search-area{
    opacity: 1;
    max-width:100%;
    height: 30px;
    margin-bottom: 10px;
}

.search-area-home{
    opacity: 1;
    max-width:100%;
    height: 20px;
    margin-bottom: 10px;
}

.show{ 
    margin-top: 10px;
max-width: 50%;
display: none;
margin: auto;
}

.close{
    max-width: 50%;
    margin-top: 10px;

margin: auto;
    display:none;
}

.change{
    max-width: 50%;
    margin-top: 10px;

    margin: auto;

}
.search-button{

    max-width:50%;
    padding: 5px;
    font-weight: bold;
    background-color: aliceblue;
    border: 1px solid black;
    transition: 0.5s;
    border-radius: 10px;
    color:black;



}

.search-button:hover{
transform: scale(1.05);
transition: 0.5s;
}


/*icon css */

.weather-sun,.weather-cloud,.weather-snow,.weather-cloudAndSun,.weather-rain{
    height: 200px;
    width: 200px;
    display: inline-block;
    position: relative;
    top:-50%;
    left:-30%;
}

.weather-cloudAndSun,.weather-rain{
    margin-left: 60px;
}

.sun{
    width: 100px;
    height: 100px;
    background: linear-gradient(45deg,#F3A966,yellow);
    border-radius: 100%;
    transform: rotate(0deg);
    animation: xuanzhuang 12s infinite linear;
    position: absolute;
    left: 50%;
    top: 50%;
}

.rays{
    width: 8px;
    height: 15px;
    background: yellow;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: -25px;
    box-shadow: 0 135px yellow;
    border-radius: 4px;
    transform-origin: 0px 75px;
}

.rays:nth-child(2){
    transform: rotate(45deg);
}

.rays:nth-child(3){
    transform: rotate(90deg);
}

.rays:nth-child(4){
    transform: rotate(135deg);
}

@keyframes xuanzhuang {
    100% { transform: rotate(360deg); }
}


.cloud{
    border-radius: 25px;
    position: absolute;
    top: 70%;
    left: 50%;
    width: 150px;
    height: 50px;
    background: #cdedf8;
}

.cloud:nth-child(2){
    left: 200px;
    width: 100px;
    height: 30px;
    background: #cdedf8;
    opacity: 1;
    animation: cloud 8s linear infinite;
}

.cloud::after,.cloud::before{
    content: '';
    display: block;
    background: #cdedf8;
    border-radius: 50%;
    position: absolute;
    
}

.cloud:nth-child(2)::after,.cloud:nth-child(2)::before{
    content: '';
    display: block;
    background: #cdedf8;
    border-radius: 50%;
    position: absolute;
    
}

.cloud::after{
    width: 80px;
    height: 80px;
    left: 45px;
    top: -45px;
}

.cloud::before{
    width: 60px;
    height: 60px;
    top: -10px;
    left: 0;
}

.cloud:nth-child(2)::after{
    width: 50px;
    height: 50px;
    left: 35px;
    top: -30px;
}

.cloud:nth-child(2)::before{
    width: 40px;
    height: 40px;
    top: -10px;
    left: 0px;
}

@keyframes cloud {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% {
        opacity: 0;
        transform: scale(0.8) translateX(-200%);
    }
}

.snow{
    width: 150px;
    height: 10px;
    border-radius: 5px;
    background: #CDEDF8;
    transform: rotate(0deg);
    position: absolute;
    top: 70%;
    left: 60%;
    animation: Rotate 12s infinite linear;
    position: relative;
}

.snow::after,.snow::before{
    content: '';
    width: 150px;
    height: 10px;
    border-radius: 5px;
    background: #CDEDF8;
    position: absolute;
}

.snow::after{
    transform: rotate(60deg);
}

.snow::before{
    transform: rotate(120deg);
}

.f{
    width: 28px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
    background: #CDEDF8;
    top: -45px;
    left: 25px;
    box-shadow: 0px 90px #CDEDF8,72px 90px #CDEDF8,72px 0px #CDEDF8;
}

.f::after,.f::before{
    content: '';
    width: 28px;
    height: 10px;
    transform: rotate(60deg);
    border-radius: 5px;
    position: absolute;
    background: #CDEDF8;
    top: -10px;
    left: 55px;
    box-shadow: 0px 90px #CDEDF8,72px 90px #CDEDF8,72px 0px #CDEDF8;
}

.f::before{
    transform: rotate(120deg);
    left: 15px;
    box-shadow: 72px 0px #CDEDF8,72px -90px #CDEDF8,0px -90px #CDEDF8;
}

@keyframes Rotate {
    100% { transform: rotate(360deg); }
}

.weather-cloudAndSun .cloud{
    z-index: 1;
    opacity: 0.95;
}

.weather-cloudAndSun .sun{
    position: absolute;
    left: 180px;
    top: 60px;
    z-index: 0;
}

.rain{
    width: 4px;
    height: 40px;
    background:linear-gradient(transparent,lightblue);
    position: absolute;
    left: 210px;
    top: 170px;
    border-radius: 2px;
    animation: rainning 2s infinite;
}

.rain:nth-child(2){
    height: 20px;
    left: 190px;
    top: 190px;
}

.rain:nth-child(3){
    height: 50px;
    left: 170px;
    top: 180px;
}

.rain:nth-child(4){
    height: 25px;
    left: 150px;
    top: 185px;
}

@keyframes rainning{
    100%{
        top: 200px;
    }
}