

@media (max-width: 1400px) {

    .bg-green h2{
        font-size:15px;
    }

    

    .bg-green{
        padding: 5px;
    }

    .nav-link{
        font-size: 15px;
       margin-right: 20px;
    }

    h1{
        font-size: 35px;
    }

    h2{
        font-size:25px;
    }

    h3{
        font-size: 20px;
    }

     p.bigger{
        font-size: 20px;
    }

    

   

    td,th {
        width: 80%;
        font-size: 15px ;
        
    }


    .acc-img img{
        margin-bottom: 50px;
        
      }

      .acc-img-sv img{
        margin-bottom: 90px;
        width: 85%;
      }

      input{
        font-size:16px;
      }
      
      button[type="submit"]{
        font-size:20px;
      }
 
}

@media screen and (max-width: 1200px) and (min-width: 993px){
    .acc-img img{
        margin-bottom: 70px;
        width: 95%;
      }

      .acc-img-sv img{
        margin-top: 55px;
        width:90%;
      }
      p{
        font-size: 15px;
      }

      .bg-white .col-lg-8{
        padding: 10px!important;
      }

     

      .first{
        padding:0px!important;
      }

      
}

@media screen and (max-width: 1400px) and (min-width: 993px){

    .bg-white .col-lg-6{
        padding: 20px!important;
    }
}


@media (max-width: 993px)
{
    .m-home{
        margin-left:0px;
        margin-top: 30px;
    }
    
    .m-left{
        margin-left:0px;
    }

    .m-john{
        margin-left:0px;
        margin-top:30px;
    }

    
    

}