@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root{
    --main-color:#0d3b2a;
    --secondary-color:#cdffec;
    --white-color:#fff;
    --main-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
}

body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    background-color: var(--secondary-color);

}


.bold, b{
    font-weight: bold;
}


h1{
    font-size:47px;
    font-weight: bold;
    color:var(--main-color);
}

h2{
    font-size: 29px;
}

h3{
    font-size:24px;
}

p{
    font-size: 18px;
}

p.bigger{
    font-size:22px;
}

.header a{
    text-decoration: none;
    color:#000;
}

.end
{
    align-items:flex-end;
}


.nav-link{
    color:#000;
    margin-right: 25px;
    font-weight: 500;
    transition: 0.5s;
}

.nav-link:hover{
    font-weight: bold;
    transition: 0.5s;

}

.navbar{
    border-color:var(--main-color)!important;
    background-color: var(--white-color);
}

.nav-item{
    align-self: center;
}


.btn-main{
    background-color: var(--main-color);
    color:#fff;
    padding: 12px;
    font-weight: 500;
    border-radius: 10px;
    border:1px solid var(--white-color);
}

.btn-main:hover{
    border:1px solid var(--main-color);
    text-decoration: none;
    font-weight:500;
    color:var(--main-color);
    background-color:var(--white-color);
    box-shadow: var(--main-shadow);
}

.bg-green{
    color:var(--white-color);
    background-color: var(--main-color);
    padding:10px;
}

.bg-green h2{
    font-size: 20px;
}

.shadow{
    box-shadow: var(--main-shadow);
}

.no-pad{
    padding-left: 0px;
    padding-right: 0px;
}


td,th {
    width: 80%;
    font-size: 22px ;
    
}

.m-home{
    margin-left:-50px;
}

.m-left{
    margin-left:50px;
}

.m-john{
    margin-left:-40px;
}

