@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root{
    --main-color:#2d669d;
    --secondary-color:#e7f2fc;
    --white-color:#fff;
    --main-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2)!important;
}

body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    background-color: var(--secondary-color);

}


.bold, b{
    font-weight: bold;
}


h1{
    font-size:47px;
    font-weight: bold;
    color:var(--main-color);
}

h2{
    font-size: 29px;
}

h3{
    font-size:24px;
}

p{
    font-size: 20px;
}

p.bigger{
    font-size:22px;
}

.header a{
    text-decoration: none;
    color:#000;
}

.end
{
    align-items:flex-end;
}



.nav-link{
    color:#000;
    margin-right: 25px;
    font-weight: 500;
    transition: 0.5s;
}

.nav-link:hover{
    font-weight: bold;
    transition: 0.5s;

}

.navbar{
    border-color:var(--main-color)!important;
    background-color: var(--white-color);
}

.nav-item{
    align-self: center;
  
}




.btn-main{
    background-color: var(--main-color);
    color:#fff;
    padding: 12px;
    font-weight: 500;
    border-radius: 10px;
    border:1px solid var(--white-color);
}

.btn-main:hover{
    border:1px solid var(--main-color);
    text-decoration: none;
    font-weight:500;
    color:var(--main-color);
    background-color:var(--white-color);
    box-shadow: var(--main-shadow);
}

.bg-green{
    color:var(--white-color);
    background-color: var(--main-color);
    padding:10px;
}

.bg-green h2{
    font-size: 20px;
}

.shadow{
    box-shadow: var(--main-shadow);
}

.no-pad{
    padding-left: 0px;
    padding-right: 0px;
}


td,th {
    width: 80%;
    font-size: 22px ;
    
}

.m-home{
    margin-left:-50px;
}

.m-left{
    margin-left:50px;
}

.m-john{
    margin-left:-40px;
}


footer a{
    color:#fff;
    text-decoration: none;
}

footer ul{
    list-style-type: none;
    padding-left: 0px;
}


.social-img{
    width: 25px;
    filter: invert(100%);
    margin-bottom: 10px;
  }

.bg-white a{
    color:var(--main-color);
    text-decoration: none;
    font-weight: 700;
}

.scroll-button {
    animation: arrow-top 1s linear 0s  normal forwards;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 2;
    cursor: pointer;
    transition: 0.4s;
    background-color: #fff;
    border-radius: 5px;
    width:35px;
    overflow-x: hidden;
    display: none;
    box-shadow: var(--main-shadow);
background-color: var(--main-color);  }
  
  .scroll-button:hover {
    opacity: 1;
    transition: 0.4s;
  
  }

  .acc-img img{
    margin-bottom: 20px;
    width: 85%;
  }

  .acc-img-sv img{
    margin-bottom: 20px;
    width: 85%;
  }

  .bigger a{
    font-weight: 400;
    color:#000;
  }

  .space{
    padding:50px;
  }