
body {
  padding-top: 130px;
}


.white-card{
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1.5625rem rgba(0,0,0,.1);
    border-radius: 25px;
  }

  .hero-image {
  background-image: url("./img/heroimg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

.lc-block .fa-solid{
font-size: 15px;
margin-right:px;
margin-left:5px;
}

.hero-text{
text-align: left;
    position: absolute;
    top: 40%;
    left: 47%;
    transform: translate(-55%, -55%);
}

* {
        --main-color:rgba(20,28,45);
        --main-shadow:0 0.5rem 1.5625rem rgba(0,0,0,.2);
    }

    .main-color{
        color:var(--main-color);
    }

    .header-bg{
        background-color: var(--main-color);
    }

    .header-bg .fa-brands{
        margin-right:15px;
    }

    .avt-img
    {
        width:105px;
        border-radius: 180px;
        margin:0px auto;
    }

    .avt-img2
    {
        width:100%;
        margin:0px auto;
        height: auto;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        
    }

    .avt-bg{
      box-shadow: var(--main-shadow);
      border-radius:25px;

    }
    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color:  var(--main-color);
      overflow: hidden;
      width: 100%;;
      height: 0;
      transition: .5s ease;
      margin:0px auto;
      border-radius:25px;
    }
    
    
    
    .hov-cards:hover .overlay {
      height: 100%;
    }
    
    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      text-align: center;
      top:18%;
    }

    .overlay .fa-brands{
      margin-right: 15px;
    }

     .contact-button
    {
        background-color:  var(--main-color);
        padding:15px 30px;
        border-radius: 50px;
        border: none;
        color:#ffffff;
        margin-top:20px;
        transition: 0.5s;
        font-weight: 600;
    }

    .contact-button:hover{
        transition: 0.5s;
        transform: scale(1.05);
    }
   footer{
    background-color:  var(--main-color);
    color:#ffffff;
   }
   .more{
    color:rgba(20,28,45,.95);
    text-decoration: none;
   }
   .huge{
    font-size: 55px;
   }

   .nav-link
   {
    font-weight: bold!important;
    color:rgba(20,28,45,.95)!important;    
    transition: 0.5s!important;

   }

   .nav-link:hover{
    transition: 0.5s;
        transform: scale(1.05);
   }

   .contact {
    background: #f5df4e;
  
  }
  
  .submit-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: white;
    background-color:   var(--main-color);
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    margin-right: 35px;
    height: 50px;
    border-radius: 25px;
  }
  
  .contact-bg {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px  var(--main-color);
    margin-bottom: 25px;
    width: 100%;
    font-size: 22px;
  }
  
  
  :focus-visible {
    outline: none;
    border-bottom: 2px solid   var(--main-color);
    transition: ease 0.1s;
  }
  .submit-button:hover{
    transition: 0.5s;
        transform: scale(1.05);
  }


  .branding-bg{
    background-image: url(../statics/img/brand.jpg);
    background-position:top right;
    background-size: cover;
  }
   

  .accordion {
    background-color:  var(--main-color);
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.4s;
    margin-bottom: 15px;
    border-radius: 25px;
    box-shadow: var(--main-shadow);
  }
  
  .active, .accordion:hover {
    background-color: #ffffff;
    color: var(--main-color);
  }
  
  .accordion:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: 20px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .dropdown-item{
    color: var(--main-color)!important;
    transition: 0.2s;
  }

  .dropdown-item:hover{
    color:#ffffff!important;
    background-color:  var(--main-color)!important;
    transition: 0.2s;
  }

  .dropdown-menu{
    border: none!important;
    box-shadow: var(--main-shadow);
  }


  .contact-bckg
  {
    background-image: url(../statics/img/contact-bg.webp);
    background-repeat: no-repeat;
    background-position:50% 75%;
    background-size: cover;
    }

  .form-bg{
    box-shadow: var(--main-shadow);
    border-radius: 25px!important;
  }

  .shadow{
    text-shadow: 2px 2px black;
    
  }

  .over-bg
  {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .contact-bckg, .shadow, .over-bg {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  }

  .fa-brands , .fa-envelope {
    transition: 0.3s;
    cursor: pointer;
  }

.fa-brands:hover, .fa-envelope:hover{
  transition: 0.3s;
  transform: scale(1.4);
}
  @media (max-width: 992px){
    body{
      padding-top: 100px;
    }

    .hero-image {

      background-position: 74%;

    }
    .hero-text{
      top:50%;
    }
  }

  #ads .fa-brands{
transform: rotate(-40deg);  }

  
