.white-card{
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1.5625rem rgba(0,0,0,.1);
    border-radius: 25px;
  }

  .hero-image {
  background-image: url("./img/heroimg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

.hero-text{
text-align: left;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-55%, -55%);
}

* {
        --main-color:rgba(20,28,45,.95);
    }

    .main-color{
        color:var(--main-color);
    }

    .header-bg{
        background-color: var(--main-color);
    }

    .header-bg .more{
        color:#ffffff;
    }

    .avt-img
    {
        width:105px;
        border-radius: 180px;
        margin:0px auto;
    }

     .contact-button
    {
        background-color: rgba(20,28,45,.95);
        padding:15px 30px;
        border-radius: 50px;
        border: none;
        color:#ffffff;
        margin-top:20px;
        transition: 0.5s;
        font-weight: 600;
    }

    .contact-button:hover{
        transition: 0.5s;
        transform: scale(1.05);
    }
   footer{
    background-color: rgba(20,28,45,.95);
    color:#ffffff;
   }
   .more{
    color:rgba(20,28,45,.95);
    text-decoration: none;
   }
   .huge{
    font-size: 55px;
   }

   .nav-link
   {
    font-weight: bold!important;
    color:rgba(20,28,45,.95)!important;    
    transition: 0.5s!important;

   }

   .nav-link:hover{
    transition: 0.5s;
        transform: scale(1.05);
   }

   .contact {
    background: #f5df4e;
  
  }
  
  .submit-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: white;
    background-color:  rgba(20,28,45,.95);
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    margin-right: 35px;
    height: 50px;
    border-radius: 25px;
  }
  
  .contact-bg {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px rgba(20,28,45,.95);
    margin-bottom: 25px;
    width: 100%;
    font-size: 22px;
  }
  
  
  :focus-visible {
    outline: none;
    border-bottom: 2px solid  rgba(20,28,45,.95);
    transition: ease 0.1s;
  }
  .submit-button:hover{
    transition: 0.5s;
        transform: scale(1.05);
  }


  .branding-bg{
    background-image: url(../statics/img/brand.jpg);
    background-position:top right;
    background-size: cover;
  }
   

  .accordion {
    background-color: rgba(20,28,45,.95);
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.4s;
    margin-bottom: 15px;
    border-radius: 25px;
    box-shadow: 0 0.5rem 1.5625rem rgba(0,0,0,.1);
  }
  
  .active, .accordion:hover {
    background-color: #ffffff;
    color:rgba(20,28,45,.95);
  }
  
  .accordion:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: 20px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .dropdown-item{
    color:rgba(20,28,45,.95)!important;
    transition: 0.2s;
  }

  .dropdown-item:hover{
    color:#ffffff!important;
    background-color: rgba(20,28,45,.95)!important;
    transition: 0.2s;
  }

  .dropdown-menu{
    border: none!important;
    box-shadow: 0 0.5rem 1.5625rem rgba(0,0,0,.1);
  }